#review-list{
    margin: 0;
    padding: 0;

}
#review-list li{
    list-style: none;
    position: relative;
    padding-bottom: 35px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 35px;
}
#review-list li:last-child{
    border: none;
}
#review-list li::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 49px;
    height: 41px;

}
.summer-theme #review-list li::before{
    background: url(/images/quote-summer.png) no-repeat!important;
}

.autumn-theme #review-list li::before{
    background: url(/images/quote-autumn.png) no-repeat!important;
}
.spring-theme #review-list li::before{
    background: url(/images/quote-spring.png) no-repeat!important;
}
.winter-theme #review-list li::before{
    background: url(/images/quote-winter.png) no-repeat!important;
}



#review-list .review-item .add-field  .date{
    font-weight: 300;
    font-size: 18px;
    font-family: 'OpenSans';
    color: #313131;
}
#review-list .review-item .add-field  .fio{
    font-weight: 600;
    font-size: 18px;
    font-family: 'OpenSans';
    color: #313131;
}
#review-list .review-item .add-field  .fio span{
    font-weight: 300;
}

#review-list .review-item .content{
    padding: 19px 0 0 25px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #313131;
    font-family: 'OpenSans';
}
