.staff-list{
    margin: 0!important;
    padding: 0;
}

.staff-list li {
    list-style: none;
    margin-bottom: 20px;
    position: relative;
}

.staff-list .staff-item img{
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.staff-list .staff-item .title{
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    margin: 15px 0 10px;
}

.staff-list .staff-item .position{
    font-weight: 300;
    font-size: 14px;
    color: #313131;
    font-family: 'OpenSans';
    min-height: 60px;

}

.summer-theme .staff-list .staff-item .title{
    color: #60B40C;
}

.autumn-theme .staff-list .staff-item .title{
    color: #D47D2D;
}

.spring-theme .staff-list .staff-item .title{
    color: #D04E5D;
}

.winter-theme .staff-list .staff-item .title{
    color: #3288C5;
}

.staff-list .staff-item .tooltip_templates{
    position: absolute;
    top: -50%;
    right: -100%;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    min-width: 400px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    z-index: 50;
}
.staff-list .staff-item:hover .tooltip_templates{
    opacity: 1;
    visibility: visible;
}

.staff-list .staff-item .tooltip_templates .content .heading{
    color: rgba(0, 0, 0, 0.3);
    font-size: 10px;
    font-family: 'OpenSans';
    font-weight: 600;
}
.staff-list .staff-item .tooltip_templates .content  .title{

    color: #313131;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;

}

.staff-list .staff-item .tooltip_templates .content .list{
    margin: 0;
    padding: 0;
}
.staff-list .staff-item .tooltip_templates .content .list li{
    list-style: none;
}


.staff-list .staff-item .tooltip_templates .content .list li div:first-child{
    font-size: 14px;
    font-family: 'OpenSans';

}

.staff-list .staff-item .tooltip_templates .content .list li div:first-child{
    font-weight: 300;
}

.staff-list .staff-item .tooltip_templates .content .list li div:last-child{
    font-weight: 700;
}

@media  (min-width: 1200px){
    .col-custom {
        width: 20%!important;
        padding: 0 15px;
        max-width: 20%!important;
    }

}