body
  color: #313131
  font-size: 18px
  line-height: 1.5
  font-family: 'OpenSans'
  font-weight: 400

@font-face
  font-family: 'Playfair Display'
  src: local('PlayfairDisplayBold'), local('PlayfairDisplayBold'),
  url('/local/templates/sanatorium/assets/build/css/PlayfairDisplayBold.woff') format('woff'),
  url('/local/templates/sanatorium/assets/build/css/PlayfairDisplayBold.ttf') format('truetype')
  font-weight: 700
  font-display: swap
  font-style: normal

@font-face
  font-family: 'Playfair Display'
  src: local('PlayfairDisplayRegular'), local('PlayfairDisplayRegular'),
  url('/local/templates/sanatorium/assets/build/css/PlayfairDisplayRegular.woff') format('woff'),
  url('/local/templates/sanatorium/assets/build/css/PlayfairDisplayRegular.ttf') format('truetype')
  font-weight: 400
  font-display: swap
  font-style: normal



@font-face
  font-family: 'OpenSans'
  src: local('OpenSans-SemiBold'), local('OpenSans-SemiBold'),
  url('/local/templates/sanatorium/assets/build/css/OpenSans-SemiBold.woff') format('woff'),
  url('/local/templates/sanatorium/assets/build/css/OpenSans-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-display: swap
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: local('OpenSans-Regular'), local('OpenSans-Regular'),
  url('/local/templates/sanatorium/assets/build/css/OpenSans-Regular.woff') format('woff'),
  url('/local/templates/sanatorium/assets/build/css/OpenSans-Regular.ttf') format('truetype')
  font-weight: 400
  font-display: swap
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: local('OpenSans-Light'), local('OpenSans-Light'),
  url('/local/templates/sanatorium/assets/build/css/OpenSans-Light.woff') format('woff'),
  url('/local/templates/sanatorium/assets/build/css/OpenSans-Light.ttf') format('truetype')
  font-weight: 300
  font-display: swap
  font-style: normal


=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
//
// Main
//
$font_playfair: 'Playfair Display'
$font_opensans:  'OpenSans'

$summer_main_color: #60B40C
$winter_main_color: #3288C5
$autumn_main_color: #D47D2D
$spring_main_color: #D04E5D


#primary
  margin-left: 280px
  box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.12)

.summer-theme button.main-link,
.summer-theme a.main-link
  background: linear-gradient(180deg, #60B40C 0%, #4C8E0A 100%)

button.main-link,
a.main-link
  text-decoration: none
  color: #fff
  padding: 14px 34px

  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25)
  border-radius: 100px
  width: 260px
  transition: all .3s
  font-family: $font_playfair
  font-weight: 700
  font-size: 14px
  letter-spacing: 0.02em

  &:hover
    background: linear-gradient(180deg, #333 0%, #333 100%)

  span
    padding-right: 32px

  i
    font-size: 10px
    color: #fff

a.main-link.alt
  text-decoration: none
  background: #fff
  padding: 14px 34px

  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25)
  border-radius: 100px
  width: 260px
  transition: all .3s
  font-family: $font_playfair
  font-weight: 700
  font-size: 14px
  letter-spacing: 0.02em

  &:hover
    background: linear-gradient(180deg, #333 0%, #333 100%)

  span
    padding-right: 32px

  i
    font-size: 10px


.summer-theme
  a.main-link.alt
    color: $summer_main_color

    i
      color: $summer_main_color


.sub-title
  font-size: 28px
  text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3)
  margin-top: 0
  margin-bottom: 25px
  font-family: $font_playfair
  font-weight: 400

.link-feedback
  display: inline-block
  text-decoration: none
  color: #fff
  padding: 15px 20px
  margin-top: 30px
  font-family: $font_playfair
  &:hover
    background: #313131!important
    color: #fff
    text-decoration: none

  i
    color: #fff
    font-size: 10px



.summer-theme  .link-feedback
  background: #4C8E0A


.main-title
  margin-top: 0
  font-size: 38px
  color: #FFFFFF
  font-family: $font_playfair
  font-weight: 400
  margin-bottom: 40px
  padding: 12px 8px
  display: inline-block

.summer-theme .main-title
  background-color: $summer_main_color

.pagination-wrapper
  .load-more
    margin: 0 auto 70px auto
    background: #4E9D89!important
    &:hover
      background: #313131!important
    span
      padding-right: 82px




//
// Header
//
header
  width: 280px
  overflow-y: auto
  position: fixed
  left: 0
  height: 100%

  #logo
    padding: 24px 20px  20px 20px




//
// Top bar
//
#top-bar
  background-color: #313131
  overflow: hidden

  .top
    .list-info
      margin: 0
      padding: 12px 30px


      li
        list-style: none
        margin-right: 30px

        &:last-child
          margin-right: 0
        a
          text-decoration: none
          color: #fff
          font-family: $font_opensans
          font-weight: 400

          p
            margin-bottom: 0
            padding-left: 10px
            font-size: 12px

          i
            font-size: 16px

    .list-actions
      margin: 0
      li
        list-style: none
        a
          padding: 11px 20px
          border-left: 1px solid rgba(255, 255, 255, 0.1)

          p
            letter-spacing: 0.05em
            text-transform: uppercase
            font-family: $font_opensans
            font-weight: 400
            color: #fff
            font-size: 12px
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            margin-bottom: 0
            margin-left: 12px



        .ru-img
          display: none




.summer-theme
  #top-bar
    .top
      .list-info
        i
          color: $summer_main_color


.winter-theme
  #top-bar
    .top
      .list-info
        i
          color: $winter_main_color


.autumn-theme
  #top-bar
    .top
      .list-info
        i
          color: $autumn_main_color

.spring-theme
  #top-bar
    .top
      .list-info
        i
          color: $spring_main_color







//
// Home page
//

//
// Descriptino block
//
#home-sescription
  padding-bottom: 40px
  border-bottom: 1px solid #E5E5E5

  p
    margin-bottom: 30px
    font-weight: 300

    b
      font-weight: 400





//
//  Key advantages
//
#key-advantages
  margin-top: 50px

  .sub-title
    margin-bottom: 70px

  .item
    margin-bottom: 52px
    .image-block
      height: 82px
      margin-bottom: 20px


    .text
      font-family: $font_opensans
      font-weight: 600
      font-size: 16px
      text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3)


//
// Contacts in home page
//

#home-contacts
  padding-top: 45px
  .first-block
    .sub-title
      margin-bottom: 65px

    .list-info
      margin: 0 0 50px
      padding: 0
      li
        list-style: none
        margin-bottom: 35px
        &:last-child
          margin-bottom: 0

        .title
          font-size: 16px
          color: #313131
          font-family: $font_playfair
          margin: 0 0 10px

        a
          text-decoration: none
          font-size: 24px
          text-transform: uppercase
          color: #313131
          transition: all .3s
          font-family: $font_opensans
          &.map-field
            font-weight: 300
            text-transform: capitalize
          &.email-field
            font-weight: 300
            text-transform: lowercase
            text-decoration: underline
            &:hover
              color: #313131!important



  .second-block
    .title
      margin: 0 0 25px
      font-size: 28px
      color: #313131
      text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3)
      font-family: $font_playfair


.summer-theme
  #home-contacts
    .first-block
      .list-info
        .email-field
          color: $summer_main_color
//
//
//
#feedback-form
  padding: 20px 25px
  border: 1px solid rgba(76, 99, 139, 0.2)
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05)
  .form-group
    margin-bottom: 0
  *:focus,
  *:active
    outline: none

  label
    font-size: 12px
    color: #313131
    font-family: $font_playfair
    margin-bottom: 0
    width: 100%

  textarea,
  .text-input
    font-weight: 300
    border: none
    font-size: 14px
    color: #313131
    font-family: $font_opensans
    border-bottom: 1px solid #E5E5E5
    padding: 16px 0
    width: 100%
    margin-bottom: 20px
    +placeholder
      color: rgba(49, 49, 49, 0.4)
      font-family: $font_opensans
      font-size: 14px

  textarea
    resize: none
    overflow: hidden

  .policy-block
    font-family: $font_opensans
    font-weight: 300
    font-size: 12px
    color: #313131
    text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3)

    a
      text-decoration: underline
      color: #313131

  button
    border: none


.summer-theme
  #feedback-form
    .policy-block
      a:hover
        color: $summer_main_color


#map
  width: 100%
  height: 280px
  margin-bottom: 50px



//
// Footer
//
footer
  border-top: 1px solid #E5E5E5
  padding: 40px 0 50px

  .bottom-footer
    margin-top: 35px
    .copyright
      margin-bottom: 0
      font-weight: 300
      font-size: 18px
      color: #313131
      font-family: $font_opensans

    .link-scroll-up
      font-weight: 400
      font-size: 18px
      text-decoration-line: underline
      color: #4C8E0A
      font-family: $font_playfair
      transition: all .3s

      &:hover
        color: #313131





::-webkit-scrollbar
  width: 10px

/* Track */
::-webkit-scrollbar-track
  background: #f8f8f8

/* Handle */
::-webkit-scrollbar-thumb
  background: #313131





.page-contacts
  .block-contact
    .title
      font-weight: 400
      font-size: 28px
      color: #313131
      font-family: $font_playfair
      margin-bottom: 30px

  .list-info
    margin: 0 0 50px
    padding: 0

    li
      margin-bottom: 20px
      list-style: none
      .heading
        font-family: $font_opensans
        font-weight: 600
        font-size: 10px
        letter-spacing: 0.05em
        text-transform: uppercase
        color: rgba(0, 0, 0, 0.3)

    .main
     .first
       font-weight: 400
       font-size: 20px
       color: #313131
       font-family: $font_playfair

     .second
       a
         font-weight: 300
         font-size: 20px
         color: #313131
         font-family: $font_opensans
         text-decoration: none
         span
           font-weight: 700


  .list-info-two
    margin: 0 0 70px
    padding: 0

    li
      margin-bottom: 15px
      list-style: none
      font-family: $font_opensans
      font-size: 18px
      color: #000000
      font-weight: 300
      a
        text-decoration: underline
        transition: all .3s
        &:hover
          color: #313131
      .heading
        font-weight: 600
        padding-right: 5px

.summer-theme .page-contacts .list-info-two
  a
    color: $summer_main_color













