body
  color: #313131
  font-size: 18px
  line-height: 1.5
  font-family: 'OpenSans'
  font-weight: 400


@font-face
  font-family: 'OpenSans'
  src: local('OpenSans-SemiBold'), local('OpenSans-SemiBold'),
  url('/local/templates/sanatorium/assets/build/css/OpenSans-SemiBold.woff') format('woff'),
  url('/local/templates/sanatorium/assets/build/css/OpenSans-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-display: swap
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: local('OpenSans-Regular'), local('OpenSans-Regular'),
  url('/local/templates/sanatorium/assets/build/css/OpenSans-Regular.woff') format('woff'),
  url('/local/templates/sanatorium/assets/build/css/OpenSans-Regular.ttf') format('truetype')
  font-weight: 400
  font-display: swap
  font-style: normal

@font-face
  font-family: 'OpenSans'
  src: local('OpenSans-Light'), local('OpenSans-Light'),
  url('/local/templates/sanatorium/assets/build/css/OpenSans-Light.woff') format('woff'),
  url('/local/templates/sanatorium/assets/build/css/OpenSans-Light.ttf') format('truetype')
  font-weight: 300
  font-display: swap
  font-style: normal


=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
//
// Main
//
//$font_playfair: 'Playfair Display'
$font_playfair: 'PT Sans', sans-serif

$font_opensans:  'OpenSans'

$summer_main_color: #60B40C
$winter_main_color: #3288C5
$autumn_main_color: #D47D2D
$spring_main_color: #D04E5D

main
  overflow-x: hidden



#primary
  margin-left: 280px
  box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.12)
  z-index: 1000
  position: relative

.summer-theme button.main-link,
.summer-theme a.main-link
  background: linear-gradient(180deg, #60B40C 0%, #4C8E0A 100%)

.autumn-theme button.main-link,
.autumn-theme a.main-link
  background: linear-gradient(180deg, #d48d28 0%, #D47D2D 100%)

.spring-theme button.main-link,
.spring-theme a.main-link
  background: linear-gradient(180deg, #D04E5D 0%, #d0464a 100%)

.winter-theme button.main-link,
.winter-theme a.main-link
  background: linear-gradient(180deg, #3288C5 0%, #347fc5 100%)




button.main-link,
a.main-link
  text-decoration: none
  color: #fff
  padding: 14px 34px

  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25)
  border-radius: 100px
  width: 260px
  transition: all .3s
  font-family: $font_playfair
  font-weight: 700
  font-size: 14px
  letter-spacing: 0.02em

  &:hover
    background: linear-gradient(180deg, #333 0%, #333 100%)

  span
    padding-right: 32px

  i
    font-size: 10px
    color: #fff
button.main-link
  i
    padding-left: 32px

a.main-link.alt
  text-decoration: none
  background: #fff
  padding: 14px 34px
  border-radius: 100px
  width: 260px
  transition: all .3s
  font-family: $font_playfair
  font-weight: 700
  font-size: 14px
  letter-spacing: 0.02em

  &:hover
    background: linear-gradient(180deg, #333 0%, #333 100%)

  span
    padding-right: 32px

  i
    font-size: 10px


.summer-theme
  a.main-link.alt
    color: $summer_main_color

    i
      color: $summer_main_color

.autumn-theme
  a.main-link.alt
    color: $autumn_main_color

    i
      color: $autumn_main_color

.spring-theme
  a.main-link.alt
    color: $spring_main_color

    i
      color: $spring_main_color

.winter-theme
  a.main-link.alt
    color: $winter_main_color

    i
      color: $winter_main_color






.sub-title
  font-size: 28px
  margin-top: 0
  margin-bottom: 25px
  font-family: $font_playfair
  font-weight: 400

.link-feedback
  display: inline-block
  text-decoration: none
  color: #fff
  padding: 15px 20px
  margin-top: 30px
  font-family: $font_playfair
  &:hover
    background: #313131!important
    color: #fff
    text-decoration: none

  i
    color: #fff
    font-size: 10px

.main-text,
.page-main,
.page-policy p
    font-weight: 300


.summer-theme  .link-feedback
  background: #4C8E0A

.autumn-theme  .link-feedback
  background: #D47D2D

.spring-theme  .link-feedback
  background: #D04E5D

.winter-theme  .link-feedback
  background: #3288C5


.main-title
  margin-top: 0
  font-size: 38px
  color: #FFFFFF
  font-family: $font_playfair
  font-weight: 400
  margin-bottom: 40px
  padding: 12px 8px
  display: inline-block

.summer-theme .main-title
  background-color: $summer_main_color

.autumn-theme .main-title
  background-color: $autumn_main_color

.spring-theme .main-title
  background-color: $spring_main_color

.winter-theme .main-title
  background-color: $winter_main_color




.summer-theme .pagination-wrapper  .load-more
  background: $summer_main_color!important

.autumn-theme .pagination-wrapper  .load-more
  background: $autumn_main_color!important

.spring-theme .pagination-wrapper  .load-more
  background: $spring_main_color!important

.winter-theme .pagination-wrapper  .load-more
  background: $winter_main_color!important




.pagination-wrapper
  .load-more
    margin: 0 auto 70px auto

    &:hover
      background: #313131!important
    span
      padding-right: 82px




//
// Header
//
#mobile-toggle
  position: absolute!important
  top: 11px
  display: none
  left: 0
  transition: all .6s
  z-index: 10000
  .navigation-top-mobile
    padding: 130px 30px 0 30px
    .list-inline>li
      display: block
  .menu-menu-lk
    padding-top: 0!important
    background: transparent!important
    li:after
      display: none!important
    li
      display: block
      a
        padding: 0 30px
        font-size: 18px
        font-family: $font_playfair

  &.is-active
    left: 0!important


.hamburger-box
  position: relative
  display: inline-block
  width: 40px
  height: 24px


.hamburger-inner
  display: block
  top: 50%
  margin-top: -2px


.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
  width: 40px
  height: 4px
  background-color: #fff
  border-radius: 4px
  position: absolute
  transition-property: transform
  transition-duration: 0.15s
  transition-timing-function: ease


.hamburger-inner::before, .hamburger-inner::after
  content: ""
  display: block


.hamburger-inner::before
  top: -10px


.hamburger-inner::after
  bottom: -10px


.hamburger
  padding: 15px 10px
  cursor: pointer
  transition-property: opacity, filter
  transition-duration: 0.15s
  transition-timing-function: linear
  font: inherit
  color: inherit
  text-transform: none
  background-color: transparent
  border: 0
  margin: 0
  overflow: visible
  position: absolute
  top: 47px
  left: 25px
  cursor: pointer
  z-index: 99999

.hamburger:hover
  opacity: 0.7


.hamburger.is-active:hover
  opacity: 0.7
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after
  background-color: #000
.common-home
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after
    background-color: #fff
.hamburger-inner, .hamburger-inner::after,
.hamburger-inner::before
  background-color: #fff
.common-home
  .hamburger-inner, .hamburger-inner::after,
  .hamburger-inner::before
    background-color: #fff

.hamburger--3dx .hamburger-box
  perspective: 80px
body:not(.common-home) .mobile-bar #megamenu-menu .nav > li > a
  color: #fff!important
.hamburger--3dx .hamburger-inner
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)

.hamburger--3dx.is-active .hamburger-inner
  background-color: transparent !important
  transform: rotateY(180deg)
.hamburger--3dx.is-active .hamburger-inner::before
  transform: translate3d(0, 10px, 0) rotate(45deg)
.hamburger--3dx.is-active .hamburger-inner::after
  transform: translate3d(0, -10px, 0) rotate(-45deg)


header
  width: 280px
  overflow-y: auto
  position: fixed
  left: 0
  height: 100%
  z-index: 999
  background: #fff

  #logo
    padding: 24px 20px  20px 20px
    a
      text-decoration: none
      color: #000

      &:hover
        text-decoration: none
        color: #000

      .img-block
        width: 220px
        margin: 0 auto
        img
          max-width: 100%
          height: 96px

      .text-block
        margin-top: 10px
        text-align: center

        .first
          font-weight: 700
          font-size: 26px
          font-family: $font_playfair
        .second
          font-weight: 300
          font-size: 10px
          line-height: 14px
          font-family: $font_opensans

  &.is-active
    margin-left: 280px!important
    z-index: 10000


//
// Top bar
//
#top-bar
  background-color: #313131
  overflow: hidden

  .top
    .list-info
      margin: 0
      padding: 12px 30px


      li
        list-style: none
        margin-right: 30px

        &:last-child
          margin-right: 0
        a
          text-decoration: none
          color: #fff
          font-family: $font_opensans
          font-weight: 400

          p
            margin-bottom: 0
            padding-left: 10px
            font-size: 12px

          i
            font-size: 16px

    .list-actions
      margin: 0
      li
        list-style: none
        a
          padding: 20px
          border-left: 1px solid rgba(255, 255, 255, 0.1)

          p
            letter-spacing: 0.05em
            text-transform: uppercase
            font-family: $font_opensans
            font-weight: 400
            color: #fff
            font-size: 12px
            margin-bottom: 0
            margin-left: 12px



        .ru-img
          display: none




.summer-theme
  #top-bar
    .top
      .list-info
        i
          color: $summer_main_color
        li a:hover
          color: $summer_main_color

      .list-actions a:hover
        color: $summer_main_color

.winter-theme
  #top-bar
    .top
      .list-info
        i
          color: $winter_main_color
        li a:hover
          color: $winter_main_color
      .list-actions a:hover
        color: $winter_main_color

.autumn-theme
  #top-bar
    .top
      .list-info
        i
          color: $autumn_main_color
        li a:hover
          color: $autumn_main_color

      .list-actions a:hover
        color: $autumn_main_color

.spring-theme
  #top-bar
    .top
      .list-info
        i
          color: $spring_main_color
        li a:hover
          color: $spring_main_color
      .list-actions a:hover
        color: $spring_main_color





//
// Home page
//

//
// Descriptino block
//
#home-sescription
  padding-bottom: 40px
  border-bottom: 1px solid #E5E5E5

  p
    margin-bottom: 30px
    font-weight: 300

    b
      font-weight: 400





//
//  Key advantages
//
#key-advantages
  margin-top: 50px

  .sub-title
    margin-bottom: 70px

  .item
    margin-bottom: 52px
    .image-block
      height: 82px
      margin-bottom: 20px


    .text
      font-family: $font_opensans
      font-weight: 600
      font-size: 16px


//
// Contacts in home page
//

#home-contacts
  padding-top: 45px
  .first-block
    .sub-title
      margin-bottom: 65px

    .list-info
      margin: 0 0 50px
      padding: 0
      li
        list-style: none
        margin-bottom: 35px
        &:last-child
          margin-bottom: 0

        .title
          font-size: 16px
          color: #313131
          font-family: $font_playfair
          margin: 0 0 10px

        a
          text-decoration: none
          font-size: 24px
          text-transform: uppercase
          color: #313131
          transition: all .3s
          font-family: $font_opensans
          &:hover
            color: #313131!important



  .second-block
    .title
      margin: 0 0 25px
      font-size: 28px
      color: #313131
      font-family: $font_playfair


.summer-theme
  #home-contacts
    .first-block
      .list-info
        .email-field
          color: $summer_main_color

.autumn-theme
  #home-contacts
    .first-block
      .list-info
        .email-field
          color: $autumn_main_color

.spring-theme
  #home-contacts
    .first-block
      .list-info
        .email-field
          color: $spring_main_color

.winter-theme
  #home-contacts
    .first-block
      .list-info
        .email-field
          color: $winter_main_color



//
//
//

#booking-form,
#feedback-form2,
#feedback-form
  padding: 20px 25px
  border: 1px solid rgba(76, 99, 139, 0.2)
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05)
  .form-group
    margin-bottom: 0
  *:focus,
  *:active
    outline: none

  label
    font-size: 16px
    color: #313131
    font-family: $font_playfair
    margin-bottom: 0
    width: 100%

  textarea,
  .text-input
    font-weight: 300
    border: none
    font-size: 14px
    color: #313131
    font-family: $font_opensans
    border-bottom: 1px solid #E5E5E5
    padding: 16px 0
    width: 100%
    margin-bottom: 20px
    +placeholder
      color: #313131
      font-family: $font_opensans
      font-size: 14px

  textarea
    resize: none
    overflow: hidden

  select
    border: none
    background: transparent
    border-bottom: 1px solid #E5E5E5
    width: 100%
    padding: 16px 0
    color: #313131
    font-family: $font_opensans
    font-weight: 600
    font-size: 20px
    -webkit-appearance: none
    -moz-appearance: none
    text-indent: 1px
    text-overflow: ''

  .icon-select
    position: absolute
    right: 16px
    top: 50%
    transform: translateY(-24%)
  .policy-block
    font-family: $font_opensans
    font-weight: 300
    font-size: 12px
    color: #313131

    a
      text-decoration: underline
      color: #313131

  button
    border: none


.summer-theme
  #booking-form,
  #feedback-form
    .icon-select
      color: $summer_main_color

.autumn-theme
  #booking-form,
  #feedback-form
    .icon-select
      color: $autumn_main_color

.spring-theme
  #booking-form,
  #feedback-form
    .icon-select
      color: $spring_main_color

.winter-theme
  #booking-form,
  #feedback-form
    .icon-select
      color: $winter_main_color



.summer-theme
  #booking-form,
  #feedback-form
    .policy-block
      a:hover
        color: $summer_main_color

.autumn-theme
  #booking-form,
  #feedback-form
    .policy-block
      a:hover
        color: $autumn_main_color

.spring-theme
  #booking-form,
  #feedback-form
    .policy-block
      a:hover
        color: $spring_main_color

.winter-theme
  #booking-form,
  #feedback-form
    .policy-block
      a:hover
        color: $winter_main_color




#map
  width: 100%
  height: 280px
  margin-bottom: 50px



//
// Footer
//
footer
  border-top: 1px solid #E5E5E5
  padding: 40px 0 20px
  .bottom-copyright
    font-size: 14px
    color: #313131
    margin-top: 20px
    display: block

  .bottom-footer
    margin-top: 35px
    .copyright
      margin-bottom: 0
      font-weight: 300
      font-size: 18px
      color: #313131
      font-family: $font_opensans

    .link-scroll-up
      font-weight: 400
      font-size: 18px
      text-decoration-line: underline
      color: #4C8E0A
      font-family: $font_playfair
      transition: all .3s

      &:hover
        color: #313131



.summer-theme
  footer
    .bottom-footer
      .link-scroll-up
        color: #4C8E0A

.autumn-theme
  footer
    .bottom-footer
      .link-scroll-up
        color: #D47D2D

.spring-theme
  footer
    .bottom-footer
      .link-scroll-up
        color: #D04E5D

.winter-theme
  footer
    .bottom-footer
      .link-scroll-up
        color: #3288C5




::-webkit-scrollbar
  width: 10px

/* Track */
::-webkit-scrollbar-track
  background: #f8f8f8

/* Handle */
::-webkit-scrollbar-thumb
  background: #2f2f2f


.show-on-mobile
  display: none!important



.page-contacts
  .block-contact
    .title
      font-weight: 400
      font-size: 28px
      color: #313131
      font-family: $font_playfair
      margin-bottom: 30px

  .list-info
    margin: 0 0 50px
    padding: 0

    li
      margin-bottom: 20px
      list-style: none
      .heading
        font-family: $font_opensans
        font-weight: 600
        font-size: 10px
        letter-spacing: 0.05em
        text-transform: uppercase
        color: rgba(0, 0, 0, 0.3)

    .main
     .first
       font-weight: 400
       font-size: 20px
       color: #313131
       font-family: $font_playfair

     .second
       a
         font-weight: 300
         font-size: 20px
         color: #313131
         font-family: $font_opensans
         text-decoration: none
         span
           font-weight: 700


  .list-info-two
    margin: 0 0 70px
    padding: 0

    li
      margin-bottom: 15px
      list-style: none
      font-family: $font_opensans
      font-size: 18px
      color: #000000
      font-weight: 300
      a
        text-decoration: underline
        transition: all .3s
        &:hover
          color: #313131
      .heading
        font-weight: 600
        padding-right: 5px

.summer-theme .page-contacts .list-info-two
  a
    color: $summer_main_color

.autumn-theme .page-contacts .list-info-two
  a
    color: $autumn_main_color

.spring-theme .page-contacts .list-info-two
  a
    color: $spring_main_color

.winter-theme .page-contacts .list-info-two
  a
    color: $winter_main_color





//
// About
//
.page-about
  p
    font-family: $font_opensans
    font-weight: 300

  .title
    font-size: 28px
    font-family: $font_playfair
    font-weight: 400

  .bg-about
    position: relative
    img
      width: 100%

  .content
    position: absolute
    bottom: 40px

    .bx-breadcrumb
      width: 100%
      color: #fff
      span,
      a
        color: #fff

  .block-about
    margin-top: 40px

  .about-list
    margin-bottom: 25px
    padding: 0
    li
      margin-bottom: 10px
      list-style: none
      position: relative
      font-family: $font_opensans
      font-weight: 300
      font-size: 18px
      color: #000000
      padding-left: 25px

      &::before
          content: ""
          display: block
          position: absolute
          top: 10px
          left: 0
          width: 11px
          height: 11px

  .special-block
    padding: 30px 40px
    background: #FBFBFB
    font-family: $font_opensans
    margin-bottom: 40px
    font-weight: 600
    font-size: 18px

  .about-list-links
    margin: 0 0 70px
    padding: 0

    li
      list-style: none
      margin-bottom: 10px
      a
        font-size: 18px
        text-decoration-line: underline
        font-family: $font_opensans
        transition: all .3s
        &:hover
          color: #313131
          text-decoration: none

  #home-map,
  #home-contacts
    margin: 0 -15px


.summer-theme
  .page-about
    .about-list
      li
        &::before
          background: url(/images/about-icon-summer.png)

.autumn-theme
  .page-about
    .about-list
      li
        &::before
          background: url(/images/about-icon-autumn.png)

.spring-theme
  .page-about
    .about-list
      li
        &::before
          background: url(/images/about-icon-spring.png)

.winter-theme
  .page-about
    .about-list
      li
        &::before
          background: url(/images/about-icon-winter.png)





.summer-theme .page-about .about-list-links  li a,
.summer-theme .page-about .special-block
  color: $summer_main_color

.autumn-theme .page-about .about-list-links  li a,
.autumn-theme .page-about .special-block
  color: $autumn_main_color

.spring-theme .page-about .about-list-links  li a,
.spring-theme .page-about .special-block
  color: $spring_main_color

.winter-theme .page-about .about-list-links  li a,
.winter-theme .page-about .special-block
  color: $winter_main_color




.summer-theme .page-about .main-title
  background: rgba(96,180 ,12 ,.8)

.autumn-theme .page-about .main-title
  background: rgba(212,125,45 ,.8)

.spring-theme .page-about .main-title
  background: rgba(208,78,93 ,.8)

.winter-theme .page-about .main-title
  background: rgba(50,136,197 ,.8)




//
// News detail
//
.news-detail
  .img-block
    img
      max-width: 100%

  .title
    font-size: 28px
    font-family: $font_playfair
    font-weight: 400
    color: #313131
    margin-top: 30px
    margin-bottom: 20px

  .news-date-time
    font-weight: 300
    font-size: 20px
    font-family: $font_opensans
    color: rgba(49, 49, 49, 0.6)
    margin-bottom: 25px
    display: inline-block

  .content
    font-weight: 300
    font-size: 18px
    color: #000000
    font-family: $font_opensans


//
// Best staff
//
.page-beststaff
  .pre-block
    margin-bottom: 40px
    .title
      font-weight: 400
      font-size: 28px
      color: #313131
      font-family: $font_playfair


//
//  Buy ticket page
//
#ticket-block
  background: url(/images/bg-ticket.jpg)
  background-repeat: no-repeat!important
  background-size: cover!important
  padding: 80px 0
  background-position-y: center!important
  #booking-form
    background-color: #fff

    button.main-link
      margin-top: 25px

.page-ticket,
.page-beststaff
  .bx-breadcrumb
    width: 100%

  .describe-ticket-block
    margin-top: 40px
    font-size: 12px
    font-family: $font_opensans
    margin-bottom: 10px


//
// Block contacts
//
#block-contacts
  margin-bottom: 50px
  .first-block
    top: 0

    .sub-title
      margin-bottom: 40px

    .list-info
      margin: 0 0 50px
      padding: 0
      li
        list-style: none
        margin-bottom: 35px
        &:last-child
          margin-bottom: 0

        .title
          font-size: 16px
          color: #313131
          font-family: $font_playfair
          margin: 0 0 10px
          padding: 0
          background-color: transparent!important

        a
          text-decoration: none
          font-size: 24px
          text-transform: uppercase
          color: #313131
          transition: all .3s
          font-family: $font_opensans
          &:hover
            color: #313131!important



  .second-block
    .title
      margin: 0 0 25px
      font-size: 28px
      color: #313131
      font-family: $font_playfair
      background-color: transparent
      padding: 0


//
// Modal
//
.overlay-layer
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99999
  background: rgba(0,0,0,.6)
  opacity: 0
  visibility: hidden
  transition: all .3s

.success-send-mail-modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 999999
  opacity: 0
  visibility: hidden
  transition: all .3s
  .content
    background: #fff
    padding: 40px
    width: 35%
    text-align: center

.active-mode
  opacity: 1!important
  visibility: visible!important

.fa-spin-hover i
  -webkit-transition: all 0.6s ease-in-out
  -moz-transition: all 0.6s ease-in-out
  -o-transition: all 0.6s ease-in-out
  -ms-transition: all 0.6s ease-in-out
    transition: all 0.6s ease-in-out
  -webkit-transform: rotate(360deg)
  -o-transform: rotate(360deg)
  -moz-transform: rotate(360deg)
  -ms-transform: rotate(360deg)
  transform: rotate(360deg)

.hide-item
  opacity: 0!important


.footer-mobile-row
  display: none
  padding: 20px 0

  .list-actions
    margin: 0
    padding: 0

    li
      list-style: none

      a
        text-decoration: none
        color: #313131
        font-size: 14px
        font-family: $font_playfair

.bvi-body
  .main-link
    width: 285px
  #news-block .main-link
    width: 285px
  #review-list li::before,
  #header-service-menu #header-service-menu-list li .sub-section i,
  .link-feedback i,
  .main-link i,
  a.d-flex.align-items-center.bvi-open
    display: none!important

  a.bvi-panel-close
    padding: 20px 40px
    display: inline-block

  .page-services .list-service-cats .service-item-wallpaper
    border: none!important

.bvi-fixed-top
  #logo
    padding-top: 124px!important

//
// Modal form
//
.modal-custom
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 999999
  transition: all .3s
  opacity: 0
  visibility: hidden
  .content
    background: #fff
    padding: 20px
  .close-modal
    position: absolute
    top: 0
    right: 15px
    padding: 10px
    i
      font-size: 15px
      color: #333
      transition: all .3s
      &:hover
        color: red

.is-active
  opacity: 1
  visibility: visible
@media (max-width: 1538px)
  #main-navigation
    .center-menu
      li
        a
          padding: 19px 15px
          font-size: 15px

  #top-bar
    .top
      .list-info
        padding: 5px 20px

@media (max-width: 1403px)
  #top-bar
    .top
      .list-info
        li
          margin-right: 10px

  .bottom
    #buy-ticket
      a
        padding: 19px 15px

  #main-navigation
    .center-menu
      li
        a
          font-size: 13px
          padding: 19px 17px

  .home-slider-wrap
    .blog-img
      img
        max-width: 100%
        height: auto
  .home-slider-wrap
    .text-block
      &.left
        margin-left: 0px
        padding-left: 109px
        max-width: initial
        padding-top: 10px


@media (max-width: 1336px)
  #top-bar
    .top
      .list-info
        margin: 0
        padding: 12px 30px 12px 80px

  header
    left: -280px
    transition: all .3s

    #logo
      padding-top: 70px

  #primary
    margin-left: 0


  #mobile-toggle
    display: inline-block


@media (max-width: 1180px)
  #top-bar
    .top
      .list-info
        li:nth-child(2n)
          display: none
  #news-block,
  #promotion-block
    .item
      .img-block
        overflow: hidden

  .news-list
    .news-item
      a
        display: block
        overflow: hidden


@media (max-width: 992px)
  #top-bar
    display: none

  .footer-mobile-row
    display: block


  .footer-menu
    column-count: 2


  footer
    .bottom-footer
      .copyright
        font-size: 14px

  .show-on-mobile
    display: flex!important

  .home-slider-wrap
    max-height: max-content

  .blog-img.col-lg-6.col-md-12.col-xs-12.d-flex.align-center-items.left
    display: none!important

  .home-slider-wrap .blog-img img
    min-width: 100%

  .home-slider-wrap .text-block.right,
  .home-slider-wrap .text-block.left
    margin-left: 0px
    padding-left: 30px
    padding-right: 30px
    max-width: initial
    padding-top: 10px

  .home-slider-wrap .text-block .title
    font-size: 30px

  .home-slider-wrap .text-block .text
    font-size: 14px

  #home-contacts
    .first-block
      .sub-title
        margin-bottom: 30px

  .page-beststaff .pre-block .title
    font-size: 20px


@media (max-width: 768px)
  #footer-service-menu
    .parent-list
      li.item:first-child
        padding-bottom: 40px
  #feedback-form2,
  #feedback-form
    margin-bottom: 30px

  .bottom-footer
    div
      text-align: center!important

  footer
    .bottom-footer
      .link-scroll-up
        margin: 10px 0 0
        display: block

  .home-slider-wrap .text-block .title
    font-size: 25px

  .home-slider .home-slider-arrow li .prev
    top: 40%
    left: 16px

  .home-slider .home-slider-arrow li .next
    top: 40%
    right: 16px


  #key-advantages
    .item
      .image-block
        text-align: center

      .text
        text-align: center

  #promotion-block
    .item
      .img-block
        height: auto

        img
          height: auto


    .sub-title
      text-align: center

    a.main-link.alt
      margin: 32px auto 0 auto

  #news-block
    .item
      .img-block
        height: auto
      .content
        padding: 28px 0 0
        .date
          padding: 15px 0 0


    .sub-title
      text-align: center

    a.main-link
      margin: 32px auto 0 auto

    .preview_picture
      width: 100%
      height: auto

  #booking-form,
  #feedback-form2,
  #feedback-form
    .policy-block
      margin-top: 15px

  .main-title
    margin-bottom: 0

  .page-beststaff,
  .page-staff,
  .page-services,
  .search-page,
  .page-main,
  .page-ticket,
  .page-contacts,
  .page-news
    .main-title
      margin-bottom: 30px

  #ticket-block
    padding: 0

  .page-services
    .swtich-cat-services
      li
        a
          padding: 10px 20px


  .page-beststaff .pre-block img
    display: none


@media (max-width: 600px)
  .page-contacts
    .list-info
      .main
        display: block!important

    .list-info-two li
      display: block!important

