
.summer-theme #main-navigation{
    background: #60B40C;
}
.autumn-theme #main-navigation{
    background: #D47D2D;
}

.spring-theme #main-navigation{
    background: #D04E5D;
}
.winter-theme #main-navigation{
    background: #3288C5;
}


#main-navigation .center-menu{
    margin: 0;
    padding: 0;

}
#main-navigation .center-menu li{
    list-style: none;
}
#main-navigation .center-menu li a{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 19px 30px;
    transition: all .3s;

}
#main-navigation .center-menu li a:hover{
    background: #333;
}

.bottom #main-navigation{
    display: inline-block;
}

.bottom #buy-ticket{
    display: inline-block;
    background: #333;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
    transition: all .3s;
}
.summer-theme  .bottom #buy-ticket{
    background: #4C8E0A;
}
.autumn-theme  .bottom #buy-ticket{
    background: #BA6617;
}

.winter-theme  .bottom #buy-ticket{
    background: #1567A3;
}

.spring-theme  .bottom #buy-ticket{
    background: #9D2634;
}


.bottom #buy-ticket:hover{

    background: #333;
}
.bottom #buy-ticket p{
    margin: 0;
}

.bottom #buy-ticket a{
    color: #fff;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    padding: 19px 24px;
    display: inline-block;
    font-weight: 700;

}