.home-slider{
    position: relative;
    top: -90px;
    margin-bottom: -90px;
    padding-bottom: 50px;
}
.home-slider-wrap{
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow: hidden;
}
.home-slider-wrap li{
    list-style: none;
    background-color: #fff;
}
.home-slider-wrap .blog-img img {
    height: auto;
    max-height: 400px;
    width: 100%;
    object-fit: cover!important;
}
.home-slider-wrap .blog-img{
    background: url("/images/home-slider-mask.png");
    position: relative;
}
.home-slider-wrap .text-block.left + .blog-img::before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 200px;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 55%, rgba(255,255,255,.7) 81%,rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 55%, rgba(255,255,255,.7) 81%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 55%, rgba(255,255,255,.7) 81%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 55%, rgba(255,255,255,.7) 81%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 55%,rgba(255,255,255,.7) 81%, rgba(255,255,255,0) 100%);

}
.home-slider-wrap .item.right .blog-img::before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    right: -120px;
    height: 100%;
    width: 200px;
    background: -moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 55%, rgba(255,255,255,.7) 81%,rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 55%, rgba(255,255,255,.7) 81%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 55%, rgba(255,255,255,.7) 81%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 55%, rgba(255,255,255,.7) 81%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 55%,rgba(255,255,255,.7) 81%, rgba(255,255,255,0) 100%);
}

.home-slider-wrap .text-block .title{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 38px;
    color: #313131;
    font-weight: 400;
    margin-bottom: 20px;

}

.home-slider-wrap .text-block .title b{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #333;
}

.summer-theme .home-slider-wrap .text-block .title b{
    color: #60B40C;
}

.autumn-theme .home-slider-wrap .text-block .title b{
    color: #D47D2D;
}

.spring-theme .home-slider-wrap .text-block .title b{
    color: #D04E5D;
}

.winter-theme .home-slider-wrap .text-block .title b{
    color: #3288C5;
}


/*.home-slider-wrap .text-block {*/
    /*max-width: 430px;*/

/*}*/
.home-slider-wrap .text-block .text{
    font-family: 'OpenSans';
    font-weight: 400;
    color: #313131;
    font-size: 18px;
    margin-bottom: 20px;
}
.home-slider-wrap .text-block.right{
    padding-right: 110px;
}
.home-slider-wrap .text-block.left{
    padding-left: 110px;
}
.home-slider .item:focus,
.home-slider .item:active{
    outline: none;
}
.home-slider .home-slider-arrow{
    padding: 0;
    margin: 0;
}

.home-slider .home-slider-arrow li{
    list-style: none;
}
.home-slider .home-slider-arrow li .prev,
.home-slider .home-slider-arrow li .next{
    background-color: #fff;
    padding: 12px 21px;
    border-radius: 50%;
    transition: all .3s;
}
.home-slider .home-slider-arrow li .prev:hover,
.home-slider .home-slider-arrow li .next:hover{
    opacity: .5;
}

.home-slider .home-slider-arrow li .prev{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}

.home-slider .home-slider-arrow li .next{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}
.home-slider .home-slider-arrow li i{
    font-size: 18px;
    color: #313131;
}

