#footer-service-menu .parent-list > ul {
	padding: 0;
}
#footer-service-menu .child-list{
	padding: 0;
	column-count: 2;
}

#footer-service-menu .parent-list  .item > a .title{
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	margin: 0 0 20px;
}
#footer-service-menu .parent-list  .item > a{

	color: #313131;
	text-decoration: none;

}
#footer-service-menu .sub-title{
	margin-bottom: 30px;
}



#footer-service-menu > ul  li,
#footer-service-menu .parent-list li{
	list-style: none;
}

#footer-service-menu  .element-item a{
	font-size: 14px;
	text-decoration-line: underline;
	color: #313131;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	display: inline-block;
	transition: all .3s;
}

.autumn-theme #footer-service-menu  .element-item a:hover{
	color: #D47D2D;
}

.summer-theme #footer-service-menu  .element-item a:hover{
	color: #60B40C;
}

.spring-theme #footer-service-menu  .element-item a:hover{
	color: #D04E5D;
}

.winter-theme #footer-service-menu  .element-item a:hover{
	color: #3288C5;
}



#footer-service-menu > ul li > ul{
	padding: 0;
}