#news-block .sub-title {
    margin-bottom: 0;
}

#news-block .main-link {
    width: 270px;
    margin: 0 0 0 auto;
}

#news-block .first-row {
    margin-bottom: 47px;
}

#news-block .item .content{
    padding: 28px 0;
    background-color: #fff;
}
#news-block .item .img-block{
    height: 160px;
}
#news-block .item{
    margin-bottom: 50px;
}
#news-block {
    padding-top: 50px;
    border-bottom: 1px solid #E5E5E5;

}
#news-block .item .content .date{
    font-family: 'OpenSans';
    font-weight: 300;
    font-size: 14px;
    color: #313131;
    padding: 15px 0 20px;
}
#news-block .item .content .title a{
    font-size: 22px;
    text-decoration-line: underline;
    font-family: 'Playfair Display';
    font-weight: 400;
    transition: all .3s;
}

.summer-theme #news-block .item .content .title a{
    color: #4C8E0A;
}
#news-block .item .content .title a:hover{
    color:#313131;
}